@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { /* Universal Selector (The asterix means to apply this to everything) */
  box-sizing: border-box; /* Add padding of border to an element without affecting the width  */
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex; /*  Puts things in a flex-box  */
  /* flex-direction: column; Ensure items are lined horizontally */
  align-items: center; /* Pushing elements horizontally to center */
  justify-content: center; /* Pusing elements vertically downwards to center */
  height: 100vh; /* enable align-center and justify center to be in middle of page */
  overflow: hidden; /* To remove all scroll bars on page */
  margin: 0;
}

.container{
  display: flex;
  width: 90vw;
}

.panel{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: White;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {

  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s

}

@media(max-width: 480px ) {
  .container{
    width: 100vw;

  }

  .panel:nth-of-type(4), .panel:nth-of-type(5){
    display: none;
  }
}
